body {
    font-family: "Caveat", cursive; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 60px;
}
.categoria {
    font-family: "Caveat", cursive;
    font-weight: bold;
    font-size: xx-large;
    width: 200px;
    border: solid white;
    border-radius: 150px;
    color:white;
}
.categoria:hover {
    cursor: pointer;
}
#contenedor {
    width: 815px;
}
#listaTareas {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 2px rgb(96, 194, 226) solid;
    background-color: rgb(193, 222, 231);
    max-height: 354px;
    min-height: 354px;
    overflow-y: scroll;
}
#cat1 {
    border: 1px solid orange;
    color: orange;
}
#cat2 {
    border: 1px solid rgb(253, 56, 42);
    color: rgb(253, 56, 42);
}
#cat3 {
    border: 1px solid blueviolet;
    color: blueviolet;
}
#cat4 {
    border: 1px solid rgb(84, 84, 248);
    color: rgb(84, 84, 248);
}
.tarea {
    font-size: x-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px red solid; */
}
.derecha {
    margin-right: 10px;
}
.tareaCat1 {
    color: orange;
    font-weight: bold;
    font-size:40px;
}

.tareaCat2 {
    color: rgb(253, 56, 42);
    font-weight: bold;
    font-size:40px;
}
.tareaCat3 {
    color: blueviolet;
    font-weight: bold;
    font-size:40px;
}
.tareaCat4 {
    color: rgb(84, 84, 248);
    font-weight: bold;
    font-size:40px;
}
.tituloTarea {
    padding-left: 10px;
    padding-right: 20px;
}
.altaPrioridad {
    color: red;
}
.mediaPrioridad {
    color: orange;
}
.bajaPrioridad {
    color: green;
}
.estadoTarea {
    height: 25px;
    width: 25px;
    margin-bottom: -12px;
}
.estadoTarea:hover {
    cursor: pointer;
}
.borrarTarea {
    height: 25px;
    width: 25px;
    margin-bottom: -12px;
}
.borrarTarea:hover {
    cursor: pointer;
}
.botonAgregarTarea {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
#formulario {
    display: flex;
    align-items: center;
    height: 50px;
    width: 816px;
    margin-top: 20px;
}
.form {
    width:204px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px rgb(61, 216, 61) solid;
    margin: -1px;
    font-size: larger;
}
#formIzq {
    border-radius: 20px 0px 0px 20px;
}
#formDer {
    border-radius: 0px 20px 20px 0px;
    color: white;
    background-color: rgb(61, 216, 61);
}
#formDer:hover {
    cursor: pointer;
}
#inputNombreTarea {
    font-family: "Caveat", cursive;
    font-size: large;
    border: none;
}
#inputNombreTarea:focus {
    border: none;
    outline: none;
}
select {
    font-family: "Caveat", cursive;
    font-size: large;
    appearance: none;     
    border: none;
    border-bottom: 1px solid black;
}
select:focus {
    appearance: none;
    border: none;
    outline: none;
}
select:hover {
    cursor: pointer;
}